@import url('https://fonts.googleapis.com/css2?family=Charis+SIL:ital,wght@0,400;0,700;1,400;1,700&family=Inconsolata:wght@900&display=swap');

*{
  margin: 0;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: #62b5d0;
}
header{
  height: 100px;
  background-color: yellow;
  display: flex;
  align-items: center;
  justify-content: center;
 
}

h1{
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;
}

.section{
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
}

.section2_1{
  background-color: rgba(0, 0, 0, 0.5);
  cursor: not-allowed;
  position: relative;
  z-index: -100;
}

section{
  width: 30%;
  
}

fieldset{
  border-radius: 3px;
  margin-top: 20px;
  width:70%;
  margin-left: auto;
  margin-right: auto;
  
}


.select{
  margin-top: 40px;
  text-align: center;
}

h2{
  text-align: center;
}

button{
  margin-top: 20px;
  margin-left: 50%;
}

.messageInput{
  height: 80px;
}

form{
  background-color: rgba(0, 0, 0, 0.09) ;
  box-shadow: 0px 0px 10px black;
  border-radius: 5px;
  padding: 10px;
  min-width: 245px;
  
}

input{
  widht: 100%;
}

.message{
  margin: 20px;
  padding: 20px;
  background-color: lightgrey;
  height: 40px;
}


.span{
  width: 100%;
  height: 40px;
  border: 1px solid black;
}

.span1{
  text-transform: uppercase;
  border-right: 0px solid black;
  padding: 10px;
  background-color: grey;
  display:inline-block;
  vertical-align: middle;
}

.noSelect{
  color: yellow;
  z-index: -100;
  margin-top: 20px;
  cursor: not-allowed;
}